@import url('../../App.css');

.button-panel {
    width: 250px;
    height: 200px;
    display: flex;
    position: relative;
    flex-flow: wrap column;
}

.button-panel .header {
    position: absolute;
    top: 20px;
    left: 40px;
    font-weight: 500;
    font-size: var(--font-size);
    font-family: var(--font-family)
}

.button-panel .content{
    position: absolute;
    top: 30px;
    margin:20px;
}